<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a student</title>
</head>
<body>
<form action="#" th:action="@{/student/save}" th:object="${student}" method="post">

    Student ID: <input type="text" th:field="*{id}"/><br>
    Student name: <input type="text" th:field="*{name}"/><br>
    Student surname: <input type="text" th:field="*{surname}"/><br>
    <ul>
        <li th:each="course : ${allCourses}">
            <input type="checkbox" name="courses" th:checked="${student.courses.contains(course)}"th:value="${course.id}">
            <label th:text="${course.name}"> </label>
        </li>
    </ul>
    <button type="submit" class="btn btn-primary">Add</button>

</form>
</body>
</html>